<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find mars_rover_v8)/urdf/mars_rover_v8.urdf -urdf -model mars_rover_v8
    -J Main_RBL_shaft_joint 0.0 
    -J Main_RBR_shaft_joint 0.0 
    -J RBL_sub_joint 0.0 
    -J RBR_sub_joint 0.0
    -J Left_rear_wheel_shaft_joint 0.0
    -J Right_rear_wheel_shaft_joint 0.0
    -J Left_front_wheel_shaft_joint 0.0
    -J Right_front_wheel_shaft_joint 0.0"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>